/.cproject
/.project
/.settings
/*.o
/*.so
/twsn_info_service
/logs/log.*
/log*
/*w.xml
/Package/*.o
/Package/*/*.o
/Package/*/*/*.o
/Package/*/*/*/*.o
/Handlers/*.o
/Handlers/*/*.o
/Handlers/*/*/*.o
/Handlers/*/*/*/*.o
/Store/*.o
/Store/*/*.o
/Store/*/*/*.o
/Store/*/*/*/*.o
